![Callysto.ca Banner](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-top.jpg?raw=true)

<a href="https://hub.callysto.ca/jupyter/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fcallysto%2Fcurriculum-notebooks&branch=master&subPath=Health/CALM/CALM-moving-out-2.ipynb&depth=1" target="_parent"><img src="https://raw.githubusercontent.com/callysto/curriculum-notebooks/master/open-in-callysto-button.svg?sanitize=true" width="123" height="24" alt="Open in Callysto"/></a>

# CALM - Moving Out Project
## Part 2 - Income

📗Now let's take a look at your potential income. First, some definitions:

### Paycheque Definitions
#### Gross Income (pay/earnings)
The amount of income/earnings, for any pay period, before deductions
 
#### Net income (pay/earnings)
The amount of income/earnings, for any pay period, after deductions (Take home pay)

#### CPP - Canada Pension Plan
2.3% of gross income deducted for insurance in case of unemployment
 
#### Income Tax
A deduction paid to the Federal and Provincial government for taxes
 
#### LTD
A deduction for Long Term Disability insurance
 
#### Union Dues
Fees paid for membership in a union
 
#### Bonds
An investment in which a business or government pays a set interest rate
 
#### Advance Earnings
Deducted money that was received in advance of the pay cheque
 
#### Overtime Earnings
Pay received for working over 8 hours a day or 44 hours a week, whichever is greater

### Calculating Net Income

📗Click on the code cell below, then click the `Run` button on the toolbar to calculate your net income. You may also change some values in the code to see how the results change.

In [36]:
%store -r

In [17]:
import pandas as pd
dataset = pd.read_csv("/Users/ayushchaudhari/Downloads/98100452-eng/income.csv")
dataset

,REF_DATE,GEO,DGUID,Work activity during the reference year (9),Age (15A),Gender (3),Statistics (3),Occupation - Minor group - National Occupational Classification (NOC) 2021 (309A),Coordinate,Employment income statistics (7):Total - Employment income statistics[1],...,Employment income statistics (7):Median employment income ($)[3],Symbol.2,Employment income statistics (7):Average employment income ($)[4],Symbol.3,"Employment income statistics (7):With wages, salaries and commissions[5]",Symbol.4,"Employment income statistics (7):Median wages, salaries and commissions ($)[6]",Symbol.5,"Employment income statistics (7):Average wages, salaries and commissions ($)[7]",Symbol.6
0,2021,Canada,2021A000011124,Total - Work activity during the reference year,Total - Age,Total - Gender,Count,Total - Occupation - Minor group - National Oc...,1.1.1.1.1.1,30335915,...,37200,NaN,50280,NaN,19392230,NaN,40000,NaN,51950,NaN
1,2021,Canada,2021A000011124,Total - Work activity during the reference year,Total - Age,Total - Gender,Count,Occupation - not applicable,1.1.1.1.1.2,9705395,...,2700,NaN,15240,NaN,1515625,NaN,2560,NaN,16360,NaN
2,2021,Canada,2021A000011124,Total - Work activity during the reference year,Total - Age,Total - Gender,Count,All occupations,1.1.1.1.1.3,20630520,...,41200,NaN,53600,NaN,17876600,NaN,43200,NaN,54950,NaN
3,2021,Canada,2021A000011124,Total - Work activity during the reference year,Total - Age,Total - Gender,Count,0 Legislative and senior management occupations,1.1.1.1.1.4,267695,...,102000,NaN,169200,NaN,231230,NaN,106000,NaN,175200,NaN
4,2021,Canada,2021A000011124,Total - Work activity during the reference year,Total - Age,Total - Gender,Count,00 Legislative and senior managers,1.1.1.1.1.5,267695,...,102000,NaN,169200,NaN,231230,NaN,106000,NaN,175200,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21399790,2021,Nunavut,2021A000262,"Worked part year, part time",75 years and over,Women+,"95% confidence interval upper bound, Count","9420 Mechanical, electrical and electronics as...",57.9.15.3.3.305,0,...,0,...,0,...,0,...,0,...,0,...
21399791,2021,Nunavut,2021A000262,"Worked part year, part time",75 years and over,Women+,"95% confidence interval upper bound, Count","9421 Furniture, wood, plastic and other produc...",57.9.15.3.3.306,0,...,0,...,0,...,0,...,0,...,0,...
21399792,2021,Nunavut,2021A000262,"Worked part year, part time",75 years and over,Women+,"95% confidence interval upper bound, Count","95 Labourers in processing, manufacturing and ...",57.9.15.3.3.307,0,...,0,...,0,...,0,...,0,...,0,...
21399793,2021,Nunavut,2021A000262,"Worked part year, part time",75 years and over,Women+,"95% confidence interval upper bound, Count","951 Labourers in processing, manufacturing and...",57.9.15.3.3.308,0,...,0,...,0,...,0,...,0,...,0,...
21399794,2021,Nunavut,2021A000262,"Worked part year, part time",75 years and over,Women+,"95% confidence interval upper bound, Count","9510 Labourers in processing, manufacturing an...",57.9.15.3.3.309,0,...,0,...,0,...,0,...,0,...,0,...

In [22]:
shortened_dataset = dataset.loc[(dataset['GEO'] == 'Canada') & (dataset['Gender (3)'] == 'Total - Gender') & (dataset['Statistics (3)'] == 'Count') & (dataset['Age (15A)'] == 'Total - Age') & (dataset['Work activity during the reference year (9)'] == 'Worked full year, full time')]

shortened_dataset.drop(columns=['Symbol','Symbol.1','Symbol.2','Symbol.3','Symbol.4','Symbol.5','Symbol.6','Employment income statistics (7):With employment income[2]','Employment income statistics (7):Median employment income ($)[3]'],inplace=True)

/var/folders/_v/4d1j74hd4y3by9wnkl0gym5w0000gn/T/ipykernel_82688/50095393.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shortened_dataset.drop(columns=['Symbol','Symbol.1','Symbol.2','Symbol.3','Symbol.4','Symbol.5','Symbol.6','Employment income statistics (7):With employment income[2]','Employment income statistics (7):Median employment income ($)[3]'],inplace=True)

In [24]:
shortened_dataset = shortened_dataset[shortened_dataset['Employment income statistics (7):Average employment income ($)[4]'] != 0]
shortened_dataset.sort_values('Employment income statistics (7):Average wages, salaries and commissions ($)[7]')

shortened_dataset['Occupation - Minor group - National Occupational Classification (NOC) 2021 (309A)']

,REF_DATE,GEO,DGUID,Work activity during the reference year (9),Age (15A),Gender (3),Statistics (3),Occupation - Minor group - National Occupational Classification (NOC) 2021 (309A),Coordinate,Employment income statistics (7):Total - Employment income statistics[1],Employment income statistics (7):Average employment income ($)[4],"Employment income statistics (7):With wages, salaries and commissions[5]","Employment income statistics (7):Median wages, salaries and commissions ($)[6]","Employment income statistics (7):Average wages, salaries and commissions ($)[7]"
167049,2021,Canada,2021A000011124,"Worked full year, full time",Total - Age,Total - Gender,Count,6430 Occupations in food and beverage service,1.5.1.1.1.190,3160,24540,2990,20400,24740
167041,2021,Canada,2021A000011124,"Worked full year, full time",Total - Age,Total - Gender,Count,6321 Hairstylists and estheticians,1.5.1.1.1.182,25535,24040,15960,24000,27640
166951,2021,Canada,2021A000011124,"Worked full year, full time",Total - Age,Total - Gender,Count,322 Practitioners of natural healing,1.5.1.1.1.92,7565,32560,3525,24000,31240
166952,2021,Canada,2021A000011124,"Worked full year, full time",Total - Age,Total - Gender,Count,3220 Practitioners of natural healing,1.5.1.1.1.93,7565,32560,3525,24000,31240
167020,2021,Canada,2021A000011124,"Worked full year, full time",Total - Age,Total - Gender,Count,5510 Support occupations in art and culture,1.5.1.1.1.161,1045,51400,435,21200,33000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167118,2021,Canada,2021A000011124,"Worked full year, full time",Total - Age,Total - Gender,Count,8001 Managers in natural resources production ...,1.5.1.1.1.259,7915,183200,7545,154000,188000
166866,2021,Canada,2021A000011124,"Worked full year, full time",Total - Age,Total - Gender,Count,0001 Legislative and senior managers,1.5.1.1.1.7,205765,186400,185820,122000,190200
166865,2021,Canada,2021A000011124,"Worked full year, full time",Total - Age,Total - Gender,Count,000 Legislative and senior managers,1.5.1.1.1.6,205765,186400,185820,122000,190200
166864,2021,Canada,2021A000011124,"Worked full year, full time",Total - Age,Total - Gender,Count,00 Legislative and senior managers,1.5.1.1.1.5,205765,186400,185820,122000,190200
166863,2021,Canada,2021A000011124,"Worked full year, full time",Total - Age,Total - Gender,Count,0 Legislative and senior management occupations,1.5.1.1.1.4,205765,186400,185820,122000,190200

In [50]:
import numpy as np

usa = pd.read_excel('/Users/ayushchaudhari/Downloads/oesm22nat/national_M2022_dl.xlsx')

usa_shorten = usa[['OCC_TITLE','H_MEAN','A_MEAN']]

usa_shorten.drop_duplicates(inplace=True)
usa_shorten['H_MEAN'] = usa_shorten['H_MEAN'].replace('*',np.nan)
usa_shorten['A_MEAN'] = usa_shorten['A_MEAN'].replace('*',np.nan)
usa_shorten.dropna(inplace=True)

usa_shorten['H_MEAN'] = usa_shorten['H_MEAN'].astype(float)
usa_shorten['A_MEAN'] = usa_shorten['A_MEAN'].astype(float)
usa_shorten['M_MEAN'] = usa_shorten['A_MEAN']/12

usa_shorten

/var/folders/_v/4d1j74hd4y3by9wnkl0gym5w0000gn/T/ipykernel_82688/3488199583.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_shorten.drop_duplicates(inplace=True)
/var/folders/_v/4d1j74hd4y3by9wnkl0gym5w0000gn/T/ipykernel_82688/3488199583.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_shorten['H_MEAN'] = usa_shorten['H_MEAN'].replace('*',np.nan)
/var/folders/_v/4d1j74hd4y3by9wnkl0gym5w0000gn/T/ipykernel_82688/3488199583.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_shorten['A_MEAN'] = usa_shorten['A_MEAN'].replace('*',np.nan)
/var/folders/_v/4d1j74hd4y3by9wnkl0gym5w0000gn/T/ipykernel_82688/3488199583.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_shorten.dropna(inplace=True)
/var/folders/_v/4d1j74hd4y3by9wnkl0gym5w0000gn/T/ipykernel_82688/3488199583.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_shorten['H_MEAN'] = usa_shorten['H_MEAN'].astype(float)
/var/folders/_v/4d1j74hd4y3by9wnkl0gym5w0000gn/T/ipykernel_82688/3488199583.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_shorten['A_MEAN'] = usa_shorten['A_MEAN'].astype(float)
/var/folders/_v/4d1j74hd4y3by9wnkl0gym5w0000gn/T/ipykernel_82688/3488199583.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_shorten['M_MEAN'] = usa_shorten['A_MEAN']/12

,OCC_TITLE,H_MEAN,A_MEAN,M_MEAN
0,All Occupations,29.76,61900.0,5158.333333
1,Management Occupations,63.08,131200.0,10933.333333
2,Top Executives,62.04,129050.0,10754.166667
3,Chief Executives,118.48,246440.0,20536.666667
5,General and Operations Managers,59.07,122860.0,10238.333333
...,...,...,...,...
1395,Wellhead Pumpers,31.50,65510.0,5459.166667
1396,Refuse and Recyclable Material Collectors,21.91,45560.0,3796.666667
1398,"Tank Car, Truck, and Ship Loaders",28.21,58680.0,4890.000000
1400,Miscellaneous Material Moving Workers,20.81,43290.0,3607.500000
1401,"Material Moving Workers, All Other",20.81,43290.0,3607.500000

In [ ]:
#✏️
wagePerHour = 15  # this is your wage in $/hour
hoursPerDay = 8
workdaysPerMonth = 21

grossIncome = wagePerHour * hoursPerDay * workdaysPerMonth
print('Your gross income is $', grossIncome, 'per month.')

incomeTax = .15 + .10   # assume federal income tax is 15% and provincial is 10%
cpp = .0495             # assume Canada Pension Plan is 4.95%
ei = .0188              # assume Employment Insurance is 1.88%
unionDues = .0075       # 0.75% sounds reasonable for union dues

deductions = grossIncome * (incomeTax + cpp + ei + unionDues)
print('$', '{:.2f}'.format(deductions), ' will be taken off your paycheck.')

netIncome = grossIncome - deductions
print('Your net income is $', '{:.2f}'.format(netIncome), 'per month.')
# store that value in memory for later notebooks
%store netIncome

## Graphing Income
📗
We can also look at how your net income (take-home pay) changes based on your hourly wage. We will use [2019 taxation rates](https://www.canada.ca/en/revenue-agency/services/tax/individuals/frequently-asked-questions-individuals/canadian-income-tax-rates-individuals-current-previous-years.html) as well as [EI](https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/payroll/payroll-deductions-contributions/employment-insurance-ei/ei-premium-rates-maximums.html) and [CPP](https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/payroll/payroll-deductions-contributions/canada-pension-plan-cpp/cpp-contribution-rates-maximums-exemptions.html) rates. `Run` the cell below (without editing it) to generate a graph.
</div>

In [ ]:
#📗
def calculateFederalTax(income):
    taxBrackets = [47630, 95259, 147667, 210371]
    taxRates = [.15, .205, .26, .29, .33]
    taxes = []
    for i in range(0, len(taxBrackets)):
        taxes.append(taxBrackets[i] * taxRates[i])
    if income < taxBrackets[0]:
        tax = income * taxRates[0]
    elif income < taxBrackets[1]:
        tax = taxes[0] + (income - taxBrackets[0]) * taxRates[1]
    elif income < taxBrackets[2]:
        tax = taxes[1] + (income - taxBrackets[1]) * taxRates[2]
    elif income < taxBrackets[3]:
        tax = taxes[2] + (income - taxBrackets[2]) * taxRates[3]
    else:
        tax = taxes[3] + (income - taxBrackets[3]) * taxRates[4]
    return tax

def calculateProvincialTax(income):
    taxBrackets = [131220, 157464, 209952, 314928] # for Alberta
    taxRates = [.1, .12, .13, .14, .15]
    taxes = []
    for i in range(0, len(taxBrackets)):
        taxes.append(taxBrackets[i] * taxRates[i])
    if income < taxBrackets[0]:
        tax = income * taxRates[0]
    elif income < taxBrackets[1]:
        tax = taxes[0] + (income - taxBrackets[0]) * taxRates[1]
    elif income < taxBrackets[2]:
        tax = taxes[1] + (income - taxBrackets[1]) * taxRates[2]
    elif income < taxBrackets[3]:
        tax = taxes[2] + (income - taxBrackets[2]) * taxRates[3]
    else:
        tax = taxes[3] + (income - taxBrackets[3]) * taxRates[4]
    return tax

def calculateEI(income):
    eiMaxInsurableEarnings = 53100
    eiRate = 0.0162
    if income >= eiMaxInsurableEarnings:
        eiPremium = eiMaxInsurableEarnings * eiRate
    else:
        eiPremium = income * eiRate
    return eiPremium

def calculateCPP(income):
    cppMaxContributoryEarnings = 53900
    cppRate = 0.051
    if income >= cppMaxContributoryEarnings:
        cppPremium = cppMaxContributoryEarnings * cppRate
    else:
        cppPremium = income * cppRate
    return cppPremium

wages = []
grossIncomes = []
netIncomes = []
for wage in range(15, 150):
    wages.append(wage)
    grossAnnualIncome = wage * 8 * 240
    grossIncomes.append(grossAnnualIncome)
    incomeTax = calculateFederalTax(grossAnnualIncome) + calculateProvincialTax(grossAnnualIncome)
    eiPremium = calculateEI(grossAnnualIncome)
    cppPremium = calculateCPP(grossAnnualIncome)
    netIncome = grossAnnualIncome - (incomeTax + eiPremium + cppPremium)
    netIncomes.append(netIncome)

import plotly.graph_objects as go
fig = go.Figure()
fig.add_trace(go.Scatter(x=wages, y=grossIncomes, name='Gross Income'))
fig.add_trace(go.Scatter(x=wages, y=netIncomes, name='Net Income'))
fig.update_layout(
    title=go.layout.Title(text='Net Income vs Hourly Wage'),
    xaxis=go.layout.XAxis(title=go.layout.xaxis.Title(text='Hourly Wage')),
    yaxis=go.layout.YAxis(title=go.layout.yaxis.Title(text='Income')))
fig.show()

📗The graph shows that the difference between gross income and net income (after deductions) increases as wage increases. For more information about this, you may want to read about [progressive taxation](https://en.wikipedia.org/wiki/Progressive_tax).

You have now completed this section. Proceed to [section 3](./CALM-moving-out-3.ipynb)

[![Callysto.ca License](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-bottom.jpg?raw=true)](https://github.com/callysto/curriculum-notebooks/blob/master/LICENSE.md)